<div id="contact" class="contact-form text-center">
    <div class="container">

        <div class="row">
            <div class="col-md-8 offset-2">

                <div class="section-title center">
                    <h2>Entre em <strong>contato</strong> conosco</h2>
                    <div class="line">
                        <hr />
                    </div>
                    <div class="form-text">
                      <small><em>Caso queira se tornar um parceiro ou tenha alguma dúvida, nos mande uma mensagem. Responderemos em 24 horas.</em></small>
                    </div>
                </div>

                <form #contactForm="ngForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" [class.has-danger]="!senderName.valid && !senderName.pristine">
                                <label class="form-control-label" for="senderName">Nome</label>
                                <input type="text" class="form-control form-control-danger" id="senderName" name="senderName" #senderName="ngModel"
                                    placeholder="Escreva o seu nome" required [(ngModel)]="contactModel.senderName">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" [class.has-danger]="!senderEmail.valid && !senderEmail.pristine">
                                <label class="form-control-label" for="senderEmail">E-mail</label>
                                <input type="email" class="form-control form-control-danger" id="senderEmail" name="senderEmail" #senderEmail="ngModel"
                                    placeholder="Endereço de e-mail" required [(ngModel)]="contactModel.senderEmail"
                                    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group" [class.has-danger]="!subject.valid && !subject.pristine">
                          <label class="form-control-label" for="subject">Assunto</label>
                          <input type="text" class="form-control form-control-danger" id="subject" name="subject" #subject="ngModel"
                            placeholder="Assunto da mensagem" required [(ngModel)]="contactModel.subject">
                        </div>
                      </div>
                    </div>
                    <div class="form-group" [class.has-danger]="!message.valid && !message.pristine">
                        <label class="form-control-label" for="message">Mensagem</label>
                        <textarea class="form-control form-control-danger" rows="3" required [(ngModel)]="contactModel.message" id="message" name="message" #message="ngModel"></textarea>
                    </div>

                    <div class="container form-group" [class.has-danger]="statusError" [class.has-success]="statusSent">
                      <button type="submit" id="submitButton" class="btn form-btn btn-default" [disabled]="!contactForm.form.valid || sendingEmail">{{sendButtonText}}</button>
                      <p id="successLabel" [hidden]="!statusSent" class="form-control-feedback">E-mail enviado com sucesso!</p>
                      <p id="errorLabel" [hidden]="!statusError" class="form-control-feedback">Erro ao enviar e-mail. Por favor tente novamente mais tarde.</p>
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>
