<div id="contact" class="contact-form text-center">
    <div class="container">

        <div class="row">
            <div class="col-md-8 offset-2">

                <div class="section-title center">
                    <h2>Entre em <strong>contato</strong></h2>
                    <div class="line">
                        <hr />
                    </div>
                    <div class="form-text">
                      <small><em>Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</em></small>
                    </div>
                </div>

                <form #contactForm="ngForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" [class.has-danger]="!senderName.valid && !senderName.pristine">
                                <label class="form-control-label" for="senderName">Nome</label>
                                <input type="text" class="form-control form-control-danger" id="senderName" name="senderName" #senderName="ngModel"
                                    placeholder="Escreva o seu nome" required [(ngModel)]="contactModel.senderName">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" [class.has-danger]="!senderEmail.valid && !senderEmail.pristine">
                                <label class="form-control-label" for="senderEmail">E-mail</label>
                                <input type="email" class="form-control form-control-danger" id="senderEmail" name="senderEmail" #senderEmail="ngModel"
                                    placeholder="Endereço de e-mail" required [(ngModel)]="contactModel.senderEmail"
                                    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group" [class.has-danger]="!subject.valid && !subject.pristine">
                          <label class="form-control-label" for="subject">Assunto</label>
                          <input type="text" class="form-control form-control-danger" id="subject" name="subject" #subject="ngModel"
                            placeholder="Assunto da mensagem" required [(ngModel)]="contactModel.subject">
                        </div>
                      </div>
                    </div>
                    <div class="form-group" [class.has-danger]="!message.valid && !message.pristine">
                        <label class="form-control-label" for="message">Mensagem</label>
                        <textarea class="form-control form-control-danger" rows="3" required [(ngModel)]="contactModel.message" id="message" name="message" #message="ngModel"></textarea>
                    </div>

                    <button type="submit" id="submitButton" class="btn form-btn btn-default" [disabled]="!contactForm.form.valid">Enviar</button>
                </form>

            </div>
        </div>

    </div>
</div>
