$text-color:  #000;
$text-color:  #fff;
$active-link-color: #fcac45;
$icon-bar-color: #fff;

$background-color: rgba(248, 248, 248, 0);
$background-on-color: #222;

// Transparent nav-bar
.off {
  background-color: $background-color;
  padding: 20px;
}

// Solid nav-bar
.on {
  background-color: $background-on-color;
  padding: 0;
}

.navbar-default {

  transition: all .8s;
  border-color: $background-color;

  .navbar-brand {
    font-size: 22px;
    color: $text-color;
    font-weight: 900;
    text-transform: uppercase;
  }

  li {
    a {
      color: $text-color;
      font-size: 12px;
      letter-spacing: 1px;
      text-transform: uppercase;
      padding: 15px;

      .active {
        color: $active-link-color;
        background-color: transparent;
        font-weight: 700;
      }
    }
  }

  .navbar-toggle-btn {
    border-radius: 0;

    :hover {
      background-color: $active-link-color;
      border-color: $active-link-color;

      .icon-bar {
        background-color: $icon-bar-color;
      }
    }

    :focus {
      background-color: $active-link-color;
      border-color: $active-link-color;
    }
  }
}
