$text-color:  #000;
$text-color:  #fff;
$active-link-color: #fcac45;
$icon-bar-color: #fff;

$background-color: rgba(248, 248, 248, 0);
$background-on-color: #222;
$border-color: rgba(248, 248, 248, 100);

// Transparent nav-bar
.off {
  background-color: $background-color;
  padding: 20px;
}

// Solid nav-bar
.on {
  background-color: $background-on-color;
  padding: 5px;
}

.navbar-default {

  transition: all .8s;
  border-color: $background-color;

  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid $border-color;
  }

  .navbar-brand {
    font-size: 22px;
    color: $text-color;
    font-weight: 900;
    text-transform: uppercase;
  }

  .navbar-collapse {
    border-color: $border-color;
  }

  li {
    a {
      color: $text-color;
      font-size: 12px;
      letter-spacing: 1px;
      text-transform: uppercase;
      padding: 15px;

      .active {
        color: $active-link-color;
        background-color: transparent;
        font-weight: 700;
      }
    }
  }

  .navbar-toggle-btn {

    cursor: pointer;

    &:hover {
      background-color: $active-link-color;
      border-color: $active-link-color;

      .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
      }
    }

    &:focus {
      background-color: $active-link-color;
      border-color: $active-link-color;
    }
  }
}
