<nav class="navbar navbar-default fixed-top navbar-inverse navbar-toggleable-md" [class.on]="navBarOn" [class.off]="!navBarOn">
  <div class="container">

    <div class="navbar-header">
      <button class="navbar-toggler navbar-toggler-right navbar-toggle-btn" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbar-links">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="index.html">Garatéa</a>
    </div>

    <div id="navbar-links" class="navbar-collapse collapse" [ngbCollapse]="isCollapsed">
      <hr />
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="#home">Início</a></li>
        <li class="nav-item"><a class="nav-link" href="#about">Quem Somos</a></li>
        <li class="nav-item"><a class="nav-link" href="#team">Nosso Time</a></li>
        <li class="nav-item"><a class="nav-link" href="#services">Serviços</a></li>
        <li class="nav-item"><a class="nav-link" href="#partners">Nossos Parceiros</a></li>
        <li class="nav-item"><a class="nav-link" href="#apps">App</a></li>
        <li class="nav-item"><a class="nav-link" href="#contact">Contato</a></li>
      </ul>
    </div>
  </div>
</nav>
