<div id="team" class="text-center team-container">
    <div class="overlay">
        <div class="container">
            <div class="section-title center">
                <h2>Conheça a <strong>nossa equipe</strong></h2>
                <div class="line">
                    <hr>
                </div>
            </div>

            <ngb-carousel *ngIf="teamMembers" class="team" interval="0">
              <template *ngFor="let page of [numPages] | numberCount; let pageNumber = index" ngbSlide>

                <div *ngFor="let teamMember of teamMembers | carouselItemFilter :[numItemsPerPage]:[pageNumber];" class="item">
                  <img src="{{ teamMember.picture }}" alt="..." class="rounded-circle team-member-img">
                  <div class="caption">
                      <h3 class="team-member-name">{{ teamMember.name }}</h3>
                      <p class="team-member-bio">{{ teamMember.bio }}</p>
                  </div>
                </div>

              </template>

            </ngb-carousel>

        </div>
    </div>
</div>
